.PomodoroMenu{
    width: 100%;
    
    transition: background-color 0.5s ease;
}
.PomodoroMenu img {
  width: 200px; 
}

/*
@keyframes moveRightToLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(10%);
    }
  }
  */
